.comments-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-comment{
    font-size: 15px;
    font-weight: 600;
}

.comment-input { 
    border-radius: 15px;
    padding: 15px;
}

ul { 
    list-style-type: none;
}

.follower-name { 
    font-size: 20px;
    font-weight: bold;
}
