


.story-form {
    display: flex;
    flex-direction: column;
    background-color: #252f36;
    border: none;
    align-content: flex-start;
    width: 50%;

    margin: 5% 1%;
    padding: 2%;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border-left: none;
    position: relative;

}

.story-form input {
    margin-bottom: 3%;
    width: 40%;
    border: none;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;

}

.story-form-upper {
    display: flex;
    justify-content: flex-start;
    align-content: center;


}
.story-form-upper label {

    font-size: 19px;
    margin-top: 4px;
    margin-right: 10px;
    width: 60px;
    display: flex;
    justify-content: flex-end;


}
.story-form-upper input {
    display: flex;

    align-items: center;



}


.story-form textarea {
    margin-bottom: 2%;
    border: none;

    font-size: 16px;
    border-radius: 10px;
    height: 300px;
    resize: none;
    margin-top: 6%;
}


.genre-lists {
    display: flex;



    /* margin: 0 auto; */

}

.genre-lists select{
    display: flex;
    background-color: rgb(252, 248, 255);
    border-radius: 10px;
    height: 22px;
    width: 90px;
    margin: 0 3px;
    border: none;



    /* margin: 0 auto; */

}
.genre-lists select option{
    background-color: rgb(186, 187, 187);
    border-radius: 40px;
    padding: 10px;



    /* margin: 0 auto; */

}

#genre-label {
    margin: 1px 10px;
    font-size: 19px;
}





.form-button {
    width: 12%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 1000;

    margin: 5% 0 0 2%;
}








.option {
    margin: 10px 0;

    size: 167px;
}


/*
.chat-box {
    background-color: red;
} */


.button-56 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 2rem;
    line-height: 23px;
    outline: none;
    padding: .80rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
