.story-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    /* border: solid black; */
    width: 80%;
}

.story-list > a{
    text-decoration: none;
    color: black;
}

.story-card h3{
    margin: 10px 0px;
    padding: 3px;
}

.story-card{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    margin: 5px;
    /* border: solid black; */
}
.story-card:hover{
    box-shadow: 0px 0px 11px rgba(33,33,33,.2);
}

.preview-image{
    width: 270px;
    height: 250px;
    object-fit: cover;
}

.author-name{
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}

.genres-cont{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.genre{
    display: flex;
    justify-content: center;
    margin-right: 3px;
    margin-bottom: 3px;
    width: 25%;
    border-radius: 50px;
    color: white;
}

.horror{
    background-color: purple;
}
.funny{
    background-color: green;
}
.sad{
    background-color: blue;
}

