/* TODO Add site wide styles */
body{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
}

.page-body{
    display: flex;
    width: 90%;
    border: solid black;
}
.navbar{
    width: 100%;
}
.main-side-navbar{
    border: solid black;
}


#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}