/* TODO Add site wide styles */
body{
    display: flex;
    justify-content: center;
    width: 100%;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}