
#modal-content { 
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

.signup-input { 
    width: 280px;
    height: 40px;
    border-radius: 15px;
}

.signup-container { 
    display: flex;
    align-items: center;
    flex-direction: column;
}


.signup-form { 
    display: flex;
    flex-direction: column;
    gap: 10px
}

.signup-button { 
    border-radius: 40px;
    padding: 10px;
}
