.user-icon-placeholder { 
    width: 200px;
}

.user-icon-image { 
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover
}

.profile-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding-top: 3%;
}

.img-username-cont{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.name-cont{
  margin-block-end: 0;
}
.username-cont{
  margin-block-start: 0;
}

.following-follower-cont{
  margin-block-end: 0;
}

.bio-cont{
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-weight: bold;
}

.profile-content-cards{
  display: flex;
  flex-direction: row;
}

.story-buttons-cont{
  display: flex;
  flex-direction: column;
}

.story-buttons-cont > a {
  text-decoration: none;
  color:black ;
}


.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.button-56 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 2rem;
  line-height: 23px;
  outline: none;
  padding: .80rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-56:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-56.active { 
  background-color: aquamarine;
}


.profile-comment{ 
  display: flex;
  flex-direction: column; 
}

.profile-comment > a{
  text-decoration: none;
  color: black;
}

.profile-comment:hover{
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
}
