.main-side-navbar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    width: 150px;
    /* position: absolute; */
    background-color: white;
    /* transform: translateX(-150px); */
    transition: .2s ease;
}

/* button: ~ .main-side-navbar{
    transform: translateX(150px);
} */

.icon-image {
    width:35% 
}

.fa-solid {
    font-size: 35px;
}

.side-bar-div-boxes { 
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 0;
   justify-content: space-between;
}

.menu-button-logo { 
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-input { 
    width: 450px;
    height: 35px;
    border-radius: 15px;
}

.menu-button { 
    border-radius: 8px;
}
