.main-side-navbar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    margin-left: 0%;
    /* position: absolute; */
    background-color: white;
    /* transition: .2s ease; */
    
}
/* .search-input{
    background-color: black;
} */

.navbar-button {
    border-radius: 25px;
}

.icon-image {
    width: 180px;
    border-radius: 50px;
}

.fa-solid {
    font-size: 35px;
}

.side-bar-div-boxes { 
    display: flex;
    flex-direction: column;
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
}

.search-input { 
    width: 450px;
    height: 35px;
    border-radius: 15px;
}
